    
  .App-header {
    background-color: #282c34;
    /* min-height: 1vh; */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: right;
    font-size: calc(10px + 2vmin);
    color: white;
  }

   .logo {
      position: absolute;
      left: 10px;
   }
  
  .logo, .menu {
    display:inline-block ;  
  }
   
  .menu {
    margin: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
   
  .menu a {
    text-decoration: none;
    color: #fff;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 18px 6px 18px 6px;
  }
  
  .menu ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .menu ul li a:hover {
    background-color: grey;
    color:white;
    transition: all 0.5s ease;
  }
  
   .nav {
    content: '';
    display: block;
    clear: both;
  }