.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #1d1d1c;
    height: 60px;
}
.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
    margin-left: -2rem;
    
}

.logo img {
    /* width: 175px; */
   /* border: 2px solid gold; */
    /* vertical-align: middle; */
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 0rem;
}

.spacer1{
    flex: 1;
}

/* .spacer{
    flex: 0;
} */

.toolbar_navigation-items li{
    padding: 0 0.5rem;

}

.toolbar_navigation-items a {
    color: white;
    text-decoration: none;
}
.toolbar_navigation-items ul{
    display:  flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: flex;
}

.toolbar_navigation-items ul:hover,
.toolbar_navigation-items ul:active {
    color: #fa9231;
}

@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
    .toolbar__navigation, .toolbar__logo {
        display: flex;
        /* margin-right: 0; */
    }
    .spacer {
        flex: 1;
    }

    
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    /* .toolbar__logo {
        margin-right: 0rem;
    } */
    .toolbar__logo {
        margin-left: 0rem;
    }

    /* .logo img {
        width: 160px;

    } */

}
